*.lock
Acme-Explorer/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Explorer/pom.properties
*.snap
*.dat

Acme-Explorer

\.metadata/\.plugins/org\.eclipse\.wst\.server\.core/

\.metadata/\.plugins/

Acme-Rendezvous-2\.0/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Rendezvous-2\.0/pom\.properties

Acme-Citizen/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Citizen/pom\.properties

Acme-Newspaper-2\.0/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Newspaper-2\.0/pom\.properties
